.selectedBranch{
    width: 100dvw;
    height: 100%;
    display: grid;
    place-items: center;
    background: url('../../assets/backdrop.png') var(--yellow-100) 40% / cover no-repeat;
    position: relative;
}

.selectedBranch::after{
    content: ' ';
    background: linear-gradient(180deg, var(--white) 11.44%,var(--yellow-100) 36.37%);
    mix-blend-mode: multiply;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.selectedBranch>section{
    z-index: 10;
    background-color: var(--turquoise-10);
    border-radius: 16px 16px 0px 0px;
    position: relative;
    width: 100%;
    color: var(--grey-100);
    padding: 4rem 0 0 0;
    height: 65dvh;
    margin-top: auto;
}
.selectedBranch > section > header {
    min-height: 4rem;
}
.selectedBranch>section>figure{
    background-color: var(--white);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: .5rem;
    transform: scale(.9);
    border: var(--turquoise-100) 2px solid;
    position: absolute;
    right: auto;
    height: 6rem;
    aspect-ratio: 7/7;
    top: -3.5rem;
    transform: translateX(calc(50dvw - 3rem));
}
.selectedBranch>section>figure>img{
    width: 100%;
    border-radius: 50%;
}

.selectedBranch>section h1{
    font-size: 24px;
}
.selectedBranch>section h2{
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: 10px;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    margin-top: 1ch;

}

.selectedBranch>section> main {
    border-top: solid 2px var(--turquoise-40);
    background-color: var(--white);
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top:7%;
    position: absolute;
    bottom: -100%;
    width: 100%;
}

.selectedBranch section > main > div {
    display: flex;
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px #979EBA29;
    padding: .5rem;
    height: 107px;
    gap: 1ch;
    width: 100%;
    justify-content: space-between;
}
.selectedBranch section > main > div>img:first-of-type {
    background-color: var(--turquoise-10);
    height: 100%;
    padding: 1.5rem 1rem;
    max-width: 4rem;
    border-radius: 10px;
}
.selectedBranch section > main > div.pickup>img:first-of-type {
    background-color: var(--yellow-10);
}

.selectedBranch section > main > div > section{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--grey-70);
    font-size: 14px;
    font-weight: 400;
    margin-right: auto;
}

.selectedBranch section > main > div > section > h3{
    color: var(--grey-100);
    font-size: 19px;
}
.selectedBranch section > main > div:first-of-type >img:last-of-type {
    margin-top: auto;
    filter: brightness(0) saturate(100%) invert(61%) sepia(85%) saturate(3715%) hue-rotate(148deg) brightness(95%) contrast(91%);
}
.selectedBranch section > main > div>img:last-of-type {
    margin: auto 1ch 1ch 1ch;
    filter: brightness(0) saturate(100%) invert(74%) sepia(34%) saturate(3430%) hue-rotate(353deg) brightness(101%) contrast(95%);

}


@keyframes showMain {
    0%{
        bottom: -100%
    }
    100%{
        bottom: -28%;
    }
}

.animateMain{
    animation-name: showMain;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@media (min-width:950px){
    .selectedBranch{
        background: unset;
    }
    .selectedBranch::after{
        content: unset;
    }
    .selectedBranch > section{
        width: 33dvw;
        bottom: -15dvh;
        padding-top: 4%;
    }
    .selectedBranch > section figure{
        transform: translateX(calc(16dvw - 3rem))
    }
    .selectedBranch section > main > div{
        cursor: pointer;
        border: 1px solid transparent;
    }
    .selectedBranch section > main > div:hover{
        background-color: var(--turquoise-10);
        border-color:  var(--turquoise-100);
    }
    .selectedBranch section > main > div.pickup:hover{
        background-color: var(--yellow-10);
        border-color:  var(--yellow-100);
    }

    .selectedBranch > header > div{
        margin-bottom: 1rem;
    }

    .selectedBranch section h3{
        margin-top: 1ch;
    }
    .selectedBranch section p{
        width: 22ch;
        color: var(--grey-70);
        font-size: 14px;
    }
}

@media (min-height: 1900px){
    .selectedBranch section{
        bottom: -20dvh;
    }
}