
.branchBadge h1{
    font-size: 24px;
    text-transform: capitalize;
    color: var(--grey-100);
}
.branchBadge h2{
    display: flex;
    align-items: flex-start;
    font-size: 10px;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    margin-inline: auto;
    gap: 2px;
    color: var(--grey-100);

}

.branchBadge h2 img{
   margin-top: 1.5px;
}

.loadingBadge{
    width: 50%;
    height: 2.5rem;
}

.wrapText{
    margin-top: 2ch;
}

.wrapText h2{
    max-width: 35ch;
    margin-top: 3px;
}


@media ( min-width:950px ){
    .branchBadge h2{
        font-size: 12px;
        max-width: unset;
    }
}