.orderType {
    display: flex;
    position: relative;
    height: 98px;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
    gap: 1ch;   
    background: var(--yellow-30);
}
.orderType   img {
    width: 17px;
    aspect-ratio: 1/1;
}

.orderType > h1 {
    font-size: 16px;
    font-weight: 700;
    color: var(--grey-100);
}
.orderType  {
    background: white;
    position: absolute;
    width: 90%;
    display: grid;
    grid-template-columns: 7% 93%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    height: 56px;
    border-radius: 10px;
    top: 67px;
    padding: 13px;
    text-align: left;
}
.orderType  > img{
    grid-column: 1;
    grid-row: 1;
    width: 12px;
    aspect-ratio: 1/1;
    align-self: center;
}
.orderType> h2{
    grid-row: 1;
    grid-column: 2;
    font-size: 12px;
    font-weight: 700;
    color: var(--grey-100);
    text-align: left;
}
.orderType  > div{
    grid-row: 2;
    grid-column: 2;
    font-size: 10px;
    text-transform: capitalize;
    color: var(--grey-80);
    font-weight: 500;
}

.orderType  > div > span{
    font-weight: 700;
    color: var(--grey-80);
}


@media(min-width: 950px){
    div.orderType{
        max-width: 40% ;
    }
    .orderType > img{
        grid-row: 1/3;
        width: 30px;
    }
}